<nav class="navbar navbar-toggleable-md navbar-light bg-faded">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" routerLink="/home">WebStore</a>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" routerLink="/customers">Customers</a>
      <a class="nav-item nav-link" routerLink="/products">Products</a>
      <a class="nav-item nav-link" routerLink="/orders">Orders</a>
      <a class="nav-item nav-link" routerLink="/reports">Reports</a>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>
